mixin header
	header.page_header
		h1.page_body__title Кредитный калькулятор
mixin slider(array)
	label.form__label(for='#{array.id}') #{array.title}
	.range__slider(class='range__slider_#{array.mod}' id='#{array.id_slider}')
	input.range__input(class='range__input_#{array.mod} form__text' type='text' value='0' pattern='[0-9]' id='#{array.id}')
	svg(class='icon icon_ruble icon_gray icon_ruble_slider')
		use(xlink:href='img/sprite.svg#i-ruble')
	.scale
		- var item = 0
		while item < 101
			span(class='i_' + item)= item++
			if item == 100
				span(class=item)= '100%'
