mixin header
	header.page_header
		h1.page_body__title Кредитный калькулятор
mixin slider(array)
	label.form__label(for='#{array.id}') #{array.title}
	input.form__text.form__text_disabled(class='#{array.input_class}' value='#{array.input_value}')
	svg(class='icon icon_edit icon_blue #{array.edit_class}')
		use(xlink:href='img/sprite.svg#vw_pencil')
	input.range__slider(type='text' class='range__slider_#{array.mod}' id='#{array.id_slider}')
